<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the Compatible of your site -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>Botanical - HTML5 Ecommerce Template</title>
	<!-- include the site Google Fonts stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&display=swap" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- include the site fontawesome stylesheet -->
	<link rel="stylesheet" href="/css/fontawesome.css">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="/style.css">
	<!-- include theme plugins setting stylesheet -->
	<link rel="stylesheet" href="/css/plugins.css">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="/css/color.css">
	<!-- include theme responsive setting stylesheet -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JVH5VZNWXE"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-JVH5VZNWXE');
	</script>
</head>