<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>404 Not Found</title>
    <style>
        body{background-color: rgb(245, 234, 234);}
        a{text-align: center; letter-spacing: 3px; font-style: oblique; }
        img{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="mt-3 col-12">
                <!-- <img src="./images/404.png" class="img-fluid" alt="Responsive image"> -->

                <a href="/">
                    <picture>
                        <img src="/images/404.png" class="img-fluid mt-1 w-75" alt="404-Hi-Cats">
                    </picture>
                </a>
                <a href="/" class="btn btn-dark text-center btn-block mt-5">Geri Geri Patiliyelim  :( </a>
            </div>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <% include('partials/_scripts'); %>
  </body>
</html>


  
    